* {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.nav {
    font-family: Bradley Hand, cursive;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 80px;
    background: #2D2D2D;
    color: white;

    .name {
        font-size: 18px;
        font-weight: 400;
    }

    .items {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        grid-gap: 50px;

        .item {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.main {
    color: white;
    background: #1F2121;
    padding: 150px 0;
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;

        h1 {
            font-size: 54px;
        }

        .containerAboutMe {
            position: relative;
            display: inline-block;

            .aboutMe {
                font-family: Bradley Hand, cursive;
                font-size: 24px;
                display: inline-block;
            }

            .blinking-cursor {
                position: absolute;
                display: inline-block;
                width: 1px;
                height: 33px;
                background-color: white;
                animation: blink-animation 1s step-end infinite;
            }

            @keyframes blink-animation {
                from, to {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
            }
        }
    }
}

.projects {
    padding: 100px 0;
    text-align: center;

    h1 {
        font-size: 54px;
        font-weight: 500;
    }

    .container {
        margin-top: 100px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 650px);
        grid-gap: 50px;

        .image {
            width: 650px;
            height: 500px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .project {
            h2 {
                font-weight: 400;
                margin: 25px 0;
                font-size: 24px;
            }

            span {
                font-family: Bradley Hand, cursive;
            }
        }
    }
}
