$color-for-text: #9C9C9C;

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.main-info {
    background: #080808;
    padding: 0 250px;
    padding-bottom: 50px;

    .nav {
        * {
            color: $color-for-text;
        }

        background: #1B1B1B;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;

        a {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
        padding: 0 100px;

        .left-side {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;

            h1 {
                font-size: 44px;
                color: #FFFFFF;
            }

            .about-me {
                font-size: 14px;
                max-width: 450px;
                color: $color-for-text;
            }

            .start {
                cursor: pointer;
                width: 310px;
                height: 65px;
                border: none;
                border-radius: 10px;
                background: #3F8E00;
                box-shadow: 0 0 8px #62BA1B;
                color: #FFFFFF;
            }
        }

        .right-side {
            .photo {
                width: 350px;
                height: 350px;

                img {
                    object-fit: cover;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.my-projects {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    padding: 0 200px;
    margin-top: 50px;

    .header {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        text-align: center;

        h1 {
            font-size: 44px;
        }

        span {
            font-size: 14px;
            color: $color-for-text;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        grid-gap: 50px;

        .project {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 25px;

            .left-side {
                display: flex;
                flex-direction: column;
                grid-gap: 25px;

                .project-name {
                    font-size: 24px;
                }

                .info {
                    display: block;
                    width: 420px;
                    max-width: 420px;
                    font-size: 14px;
                    color: $color-for-text;
                }

                .link {
                    background: #FF9115;
                    border: none;
                    border-radius: 5px;
                    width: 250px;
                    height: 40px;

                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }

            .photo {
                width: 500px;
                height: 335px;

                img {
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
