$color-for-text: #9C9C9C;

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.main-info {
    background: #080808;
    padding: 0 250px;
    padding-bottom: 50px;

    .nav {
        * {
            color: $color-for-text;
        }

        background: #1B1B1B;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;

        a {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
        padding: 0 100px;

        .left-side {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;

            h1 {
                font-size: 44px;
                color: #FFFFFF;
            }

            .about-me {
                font-size: 14px;
                max-width: 450px;
                color: $color-for-text;
            }

            .start {
                width: 310px;
                height: 65px;
                border: none;
                border-radius: 10px;
                background: #3F8E00;
                box-shadow: 0 0 8px #62BA1B;
                color: #FFFFFF;
            }
        }

        .right-side {
            .photo {
                width: 350px;
                height: 350px;

                img {
                    object-fit: cover;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .worked-with {
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        h2 {
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
        }

        .items {
            display: flex;
            grid-gap: 25px;

            .item {
                padding: 15px 25px;
                border: 1px solid $color-for-text;
                color: $color-for-text;
            }
        }
    }
}

.my-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 350px;
    grid-gap: 50px;
    margin-top: 50px;

    .header {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        text-align: center;

        h1 {
            font-size: 44px;
        }

        span {
            font-size: 14px;
            color: $color-for-text;
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 445px);
        grid-gap: 50px;

        .project {
            display: flex;
            flex-direction: column;
            grid-gap: 25px;

            .photo {
                width: 445px;
                height: 300px;

                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }
            }

            .project-name {
                font-size: 24px;
            }

            .info {
                display: block;
                width: 420px;
                max-width: 420px;
                font-size: 14px;
                color: $color-for-text;
            }

            .link {
                width: 140px;
                height: 40px;
                background: #3F8E00;
                box-shadow: 0 0 8px #62BA1B;
                border: none;
                border-radius: 5px;

                a {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.get-in-touch {
    background: #080808;
    margin-top: 50px;
    padding: 100px 0;

    .header {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 44px;
            color: #FFFFFF;
        }

        span {
            font-size: 14px;
            color: $color-for-text;
            width: 570px;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
            width: 350px;
            padding: 15px 0;

            label {
                span {
                    font-size: 12px;
                    font-weight: 600;
                    color: #FFFFFF;
                }

                input {
                    font-size: 12px;
                    border: none;
                    border-radius: 5px;
                    color: $color-for-text;
                    width: 350px;
                    height: 40px;
                    text-indent: 10px;
                }
            }
        }

        .submit {
            width: 350px;
            height: 50px;
            background: #3F8E00;
            box-shadow: 0 0 8px #62BA1B;
            border: none;
            border-radius: 5px;
            color: #FFFFFF;
        }
    }
}
